.wrapper {
  width: 1200px;
  margin: 0 auto;
  font-size: 36px;
  /* border: 2px solid red; */
}

.layout {
  display: flex;
  /* 기본값이 nowrap : 부모 요소보다 폭이 넘쳐도 아래로 떨어지지 않고 수평정렬*/
  flex-wrap: wrap;
}

.header {
  width: 1200px;
  height: 100px;
  background-color: aquamarine;
}

.left-menu {
  width: 200px;
  height: 500px;
  background-color: cornflowerblue;
}

.right-menu {
  width: 1000px;
  height: 500px;
  background-color: coral;
}

.footer {
  width: 1200px;
  height: 150px;
  background-color: lightgreen;
}